<a name="pagecontent" id="pagecontent"></a>
<main class="index-sections">
  {{ content_for_index }}
</main>{% include 'wiser_recentview' %}{% include 'wiser_trending' %}{% include 'wiser_topselling' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}